
body {
    background-image: url(../images/background.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center; 
    z-index: -1;
    background-size:cover
}

#back {
    background-color: #DAB832;
    min-height: 500px;
    border: solid;
    border-width: 2px;
}

.large-title {
    margin-top: 20px;
    margin-bottom: 100px;
    text-align: center;
}

.time-remaining {
    margin-top: 80px;
}


.start-button {
    min-width: 140px;
}


#time-remaining {
    text-align: center;
}

#answers {
    text-align: center;
}

.question {
    font-size: 14px;
    text-align: center;
}

img {
    width: 215px;
    height: 180px;
    margin: 15px;
}


.ans {
    background-color: khaki;
    color: black;
    border; solid;
    border-width: 4px;
    border-color: #DAB832;
    min-width: 270px;
}

.ans:hover {
    background-color: #DAB832;
    border-width: 3px;
    color: black;
    border-color: black;
}

.start-button, .restart-button {
    background-color: black;
    border-color: black;
}

.start-button:hover {
    background-color: black;
}

.restart-button:hover {
    background-color: black;
}